<%= form_for(@catalogo) do |f| %>
  <% if @catalogo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@catalogo.errors.count, "erro") %> impediram o catálogo de ser salvo:</h2>

      <ul>
      <% @catalogo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :marca %><br />
    <%= f.text_field :marca %>
  </div>
  <div class="field">
    <%= f.label "Edição" %><br />
    <%= f.number_field :edicao, :min => 1 %>
  </div>
  <div class="field">
    <%= f.label :data_inicio %><br />
    <%= f.date_select :data_inicio, :use_month_numbers => true, :order => [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :data_fim %><br />
    <%= f.date_select :data_fim, :use_month_numbers => true, :order => [:day, :month, :year] %>
  </div>
  <div class="actions">
    <%= f.submit "Criar catálogo"%>
  </div>
<% end %>
