<script>
$(document).ready(function(){
	$('#menu_buscarProduto').removeClass('selected');
	$('#menu_newProduto').removeClass('selected');
	$('#menu_produtos').removeClass('selected');
	$('#menu_newRevista').removeClass('selected');
	$('#menu_revistas').removeClass('selected');
	$('#menu_revistas').addClass('selected');

 });

 
  function confirmaDelete(){
	if(!confirm("Deseja remover esse produto?")){
		var e = window.event;
		e.cancelBubble = true;
		e.returnValue = false;

		if (e.stopPropagation) {
            e.stopPropagation();
            e.preventDefault();
			}
		}
	}
 
 
</script>
<div class="grid_16">
    	<h1>
    	   <div class="title"><span class="title_icon"><img src="/assets/bullet1.gif" alt="" title="" /></span>Detalhes Catálogo</div>
    	</h1>
	
	<div style="margin-left: 49px;color:green;font-family: calibri;font-size:12pt;">
		<% flash.each do |name, msg| %>
			<b>   <%= content_tag :div, msg, :id => "flash_#{name}" %> </b>
		<% end %>
	</div>

    	<div class="clear"></div>

    	<p></p>


		
    	<div class="formdiv">
     

	<br/>
	
	
  	
		<fieldset class="login" style="width: 350px;margin-right: auto;margin-left: auto;">
                <legend>Catálogo</legend>

	 <p>
	
    <label><%=  "Marca"  %>:</label> 
 	<label style="text-align: left;margin-left: 10px;"><%= @catalogo.marca %> </label> 
	</p>
	<p>
	
	 <p>
	
    <label><%=  "Nome"  %>:</label> 
 	<label style="text-align: left;margin-left: 10px;"><%= @catalogo.nome %> </label> 
	</p>
	<p>

    <label><%=  "Data início"  %>:</label> 
 	<label style="text-align: left;margin-left: 10px;"> <%= @catalogo.data_inicio.strftime("%d/%m/%Y") %></label> 
	</p>
	<p>
	
	 <label><%=  "Data Fim"  %>:</label> 
 	<label style="text-align: left;margin-left: 10px;"><%= @catalogo.data_fim.strftime("%d/%m/%Y") %> </label> 
	</p>
	</fieldset>
	
 
  <br/>

                <div>
    			</div>
         
    	</div>
    </div>

<table align="center">
  <tr>
    <th style="width:150px">Código</th>
    <th style="width:150px">Preço Promocional</th>
    <th style="width:150px">Preço Nominal</th>
	<th style="width:150px"> Ações </th>
  </tr>

  
<% @produtos.each do |produto| %>
  <tr>
	<td> <%= produto.codigo_barras %> </td>
	<td><%= (number_to_currency(produto.preco_promocional, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) %> </td>
	<td> <%= (number_to_currency(produto.preco_nominal, :unit => "R$ ", :precision => 2, :separator => ",", :delimiter => ".")) %></td>


    <td> 
	<%= link_to (image_tag "buttons/button_remove.png", :size => "20x20", :style => "margin-right:10px;" ) ,{:controller => 'produtos', :action => 'destroy_produto', :id => produto.id,  :catalogo_id => @catalogo.id}, :onclick => "confirmaDelete();"%>
	<%= link_to (image_tag "buttons/button_edit.png", :size => "20x20", :style => "margin-right:10px;" ) ,{:controller => 'produtos', :action => 'edit', :id => produto.id}%>
	<%= link_to (image_tag "buttons/glass.png",:size => "20x20" ) ,{:controller => 'produtos',:action => 'show', :id => produto.id}%>

  </tr>
<% end %>
</table>

<br />
