<script>
function onEnterLogin() {
 var keyCode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;
    if( keyCode == 13 ) {


        if(!e) var e = window.event;

        e.cancelBubble = true;
        e.returnValue = false;

        if (e.stopPropagation) {
                e.stopPropagation();
                e.preventDefault();
        }
	}
	   
 }
function checkPreco (){
	if($("#produto_preco_nominal").val() < $("#produto_preco_promocional").val()){
		
		alert("Preço Promocional deve ser menor que o nominal!");
		var e = window.event;
		e.cancelBubble = true;
		e.returnValue = false;

		if (e.stopPropagation) {
            e.stopPropagation();
            e.preventDefault();
			}
		}
}
 
</script>


<%= form_for(@produto) do |f| %>
  <% if @produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produto.errors.count, "error") %></h2>

      <ul>
      <% @produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<br/>
	<div style="margin-left: 152px;float: left;margin-top: -18px;margin-bottom: 6px;"> <img src="/assets/codigo.png" /></div>
  <p>
	
    	<label>Código<span class="asterisk" >*</span>:</label> 
 	<%= f.text_field :codigo_barras, :class => 'long_text' , :onkeypress => "onEnterLogin()" %> 
	</p>
	
	
   <p>
	
    	<label>Preço Nominal<span class="asterisk" ></span>:</label> 
 	<%= f.text_field :preco_nominal, :class => 'long_text preco', :size => 10, :onkeypress => "onEnterLogin()"  %> 
	</p>
  
  	
   <p>
	
    	<label>Preço Promocional<span class="asterisk" ></span>:</label> 
 	<%= f.text_field :preco_promocional, :class => 'long_text preco', :size => '10', :onkeypress => "onEnterLogin()" %> 
	</p>
	
	<p>
    <label>Catálogo<span class="asterisk" >*</span>:</label> 
	<%= collection_select :catalogo, :id, Catalogo.all, :id,:nome, options = {}, html_options={:class => "long_text"}%>
	
</p>
	
  <br/>
  <div class="actions">
    	 <%= submit_tag "Salvar", :class => "button negative", :onclick => "checkPreco();"  %> 
  <br/>
  </div>
  <br/>
<% end %>
