<script>
function onEnterLogin() {
 var keyCode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;
    if( keyCode == 13 ) {


        if(!e) var e = window.event;

        e.cancelBubble = true;
        e.returnValue = false;

        if (e.stopPropagation) {
                e.stopPropagation();
                e.preventDefault();
        }
	}
	   
 }
function checkPreco (){

	var camposNaoPreenchidos = false;
	var precoErrado = false;
	var precoNominal = $("#produto_preco_nominal").val().replace("R$", "").replace(",", ".");
	var precoPromocional = $("#produto_preco_promocional").val().replace("R$", "").replace(",", ".");;
	
	if(precoNominal < precoPromocional){
		alert("Preço Promocional deve ser menor que o nominal!");
		precoErrado = true;
	}
	
  if($("#produto_codigo_barras").val().length === 0 || $("#produto_preco_nominal").val().length === 0 || $("#produto_preco_promocional").val().length === 0) {
  		alert("Por favor preencha os campos indicados por *.");
		camposNaoPreenchidos = true;

  }

	if(precoErrado || camposNaoPreenchidos){
		var e = window.event;
		e.cancelBubble = true;
		e.returnValue = false;

		if (e.stopPropagation) {
            e.stopPropagation();
            e.preventDefault();
			}
		}
		
	else {
		$("#produto_preco_nominal").val(precoNominal);
		$("#produto_preco_promocional").val(precoPromocional)
	}	
}

 $(document).ready(function(){
 $("#produto_preco_nominal").priceFormat({
    prefix: 'R$ ',
    centsSeparator: ','
});


$("#produto_preco_promocional").priceFormat({
    prefix: 'R$ ',
    centsSeparator: ','
});


	if( $("#produto_preco_nominal").val().length === 0 ){
		$("#produto_preco_nominal").val("R$ 0,00");
	} 
	else {
			$("#produto_preco_nominal").val($("#produto_preco_nominal").val().replace(".", ","));

	}
	if( $("#produto_preco_promocional").val().length === 0){
		$("#produto_preco_promocional").val("R$ 0,00");
	} 
		else {
			$("#produto_preco_promocional").val($("#produto_preco_promocional").val().replace(".", ","));

	}

 });
 
</script>


<%= form_for(@produto) do |f| %>
  <% if @produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produto.errors.count, "error") %></h2>

      <ul>
      <% @produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<br/>
	<div style="margin-left: 152px;float: left;margin-top: -18px;margin-bottom: 6px;"> <img src="/assets/codigo.png" /></div>
  <p>
	
    	<label>Código<span class="asterisk" >*</span>:</label> 
 	<%= f.text_field :codigo_barras, :class => 'long_text' , :onkeypress => "onEnterLogin()" %> 
	</p>
	
	
   <p>
	
    	<label>Preço Nominal<span class="asterisk" >*</span>:</label> 
 	<%= f.text_field :preco_nominal, :class => 'long_text preco', :size => 10, :onkeypress => "onEnterLogin()"  %> 
	</p>
  
  	
   <p>
	
    	<label>Preço Promocional<span class="asterisk" >*</span>:</label> 
 	<%= f.text_field :preco_promocional, :class => 'long_text preco', :size => '10', :onkeypress => "onEnterLogin()" %> 
	</p>
	
	<p>
    <label>Catálogo<span class="asterisk" >*</span>:</label> 
	<%= collection_select :catalogo, :id, Catalogo.all, :id,:nome, options = {}, html_options={:class => "long_text"}%>
	
</p>
	
  <br/>
  <div class="actions">
    	 <%= submit_tag "Salvar", :class => "button negative", :onclick => "checkPreco();"  %> 
  <br/>
  </div>
  <br/>
<% end %>
